<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for user in usuarios %}
        <h3>{{ user.username }}</h3>
    {% endfor %}
    {% for producto in productos %}
        <ul>
            <li>Producto: {{ producto.nombre }}</li>
            <li>Unidades: {{ producto.unidades }}</li>
            <li>Importe: {{ producto.importe }}</li>
            <li>Fecha de la compra: {{ producto.fecha }}</li>
        </ul>
    {% endfor %}
</body>
</html>