<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compra</title>
</head>
<body>
    <h1>Producto: {{ producto.nombre }}</h1>
    <ul>
        <li>Marca: {{ producto.marca }}</li>
        <li>Modelo: {{ producto.modelo }}</li>
        <li>Unidades: {{ producto.unidades }}</li>
        <li>Precio unidad: {{ producto.precio }}</li>
    </ul>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Comprar">
    </form>

    <a href="{% url 'listado_compra' %}">Regresar</a>
</body>
</html>

