{% extends 'tienda/base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>Eliminar productos: "{{ producto.nombre }}"</h2>
        <table>
            <tr>
                <td>Modelo:</td>
                <td>{{ producto.modelo }}</td>
            </tr>
            <tr>
                <td>Marca:</td>
                <td>{{ producto.marca }}</td>
            </tr>
            <tr>
                <td>Unidades:</td>
                <td>{{ producto.unidades }}</td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <td>Detalles:</td>
                <td>{{ producto.detalles }}</td>
            </tr>
        </table>
        <input type="submit" value="SÍ">
        <a href="{% url 'listado' %}">Regresar</a>
    </form>
{% endblock %}