{% extends 'tienda/base.html' %}

{% block content %}
    {% for producto in productos %}
        <table class="table table-dark table-striped">
            <tr>
                <td colspan="2"><h3>{{ producto.nombre }}</h3></td>
            </tr>
            <tr>
                <td>Modelo:</td>
                <td>{{ producto.modelo }}</td>
            </tr>
            <tr>
                <td>Marca:</td>
                <td>{{ producto.marca }}</td>
            </tr>
            <tr>
                <td>Unidades:</td>
                <td>{{ producto.unidades }}</td>
            </tr>
            <tr>
                <td>Precio:</td>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <td>Detalles:</td>
                <td>{{ producto.detalles }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn btn-primary" href="{% url 'editar_producto' producto.pk %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'eliminar_producto' producto.pk %}">Eliminar</a>
                </td>
            </tr>
        </table>
    {% endfor %}
    <br/>
    <br/>
    <a href="{% url 'nuevo_producto' %}">Nuevo producto</a>
    <a href="{% url 'welcome' %}">Regresar</a>
{% endblock %}
